@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: url("../img/COLOURlovers.com-Background1.jpg");
    position: absolute;
    font-family: 'Architects Daughter', cursive;
}

.index_login {
    width: auto;
    height: auto;
    position: absolute;
    top: 500px;
    left: 43%;
    text-align: center;
}

.in {
    width: 200px;
    height: 35px;
    outline: none;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 15px;
    border: none;
    background-color: beige;
    font-family: 'Architects Daughter', cursive;
}

.welcome {
    color: white;
    position: absolute;
    top: 230px;
    left: 30%;
    font-size: 35px;
}

.button {
    width: 100px;
    height: 35px;
    color: white;
    outline: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
    background-color: green;
    border: none;
    font-family: 'Architects Daughter', cursive;
}

.wrong {
    color: red;
    position: absolute;
    top: 480px;
    left:43%;
}

.activate {
    position: absolute;
    top: 240px;
    left: 40%;
    color: white;
    text-align: center;
}

.finish {
    position: absolute;
    top: 400px;
    left: 43%;
    color: greenyellow;
    font-size: 20px;
}

.header {
    background: url("../img/COLOURlovers.com-Background1.jpg");
    height: 200px;
    width: 100%;
    top: 0;
    position: fixed;
    border-radius: 10px;
    box-shadow: 0 0 50px 5px rgb(60, 63, 65);
    z-index: 1;
}

.active {
    display: block;
    font-size: 40px;
    cursor: pointer;
}

.logo {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 25px;
    left: 100px;
}

.web {
    width: 200px;
    height: 150px;
}

.block_menu {
    position: absolute;
    right: 100px;
    top: 50px;
    width: 1100px;
    height: auto;
}

.menu {
    text-align: right;
    position: absolute;
    margin: 0;
    padding: 0;
    top: 25px;
    right: 150px;
    width: 1000px;
    font-size: 40px;
}

.menu li {
    display: inline-block;
    margin-left: 50px;
    color: white;
}

.menu li a {
    color: white;
    text-decoration: none;
}

.avatar {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 0;
    right: 0;
}

.download {
    position: absolute;
    top: 35px;
    left: 10px;
    width: 200px;
    height: 30px;
    /*background-color: black;*/
    color: white;
}

.upload form input {
    outline: none;
}

.footer {
    text-align: right;
    width: 100%;
    position: absolute;
    bottom: 20px;
    color: white;
}

.footer hr {
    margin: auto;
    width: 95%;
}

.footer p {
    padding: 10px;
    padding-right: 45px;
}

.register_form {
    position: absolute;
    top: 500px;
    left: 43%;
    text-align: center;
}

.form {
    text-align: center;
    width: auto;
    height: auto;
}

.page {
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: inline-block;
}

.page a {
    text-decoration: none;
    color: white;
    margin-right: 5px;
    position: relative;
}

.galery {
    position: absolute;
    width: 700px;
    height: 500px;
    top: 230px;
    left: 150px;
    outline: 2px white solid;
}

h3 {
    color: white;
}

.user_img {
    position: absolute;
    width: 400px;
    height: 500px;
    top: 230px;
    left: 900px;
}

.foto_galery {
    margin: 5px;
    width: 120px;
    height: 100px;
    display: inline-block;
}

.foto_galery img {
    width: 120px;
    height: 100px;
}

.show_img {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    position: absolute;
    z-index: 3;
    display: block;

}

.img {
    position: absolute;
    top: 100px;
    left: 300px;
}

.img img {
    width: 700px;
    height: 500px;
}

.hide_img {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 100px;
    height: 100px;
    display: block;
}

.hide_img img {
    width: 100px;
    height: 100px;
}

.comment {
    position: absolute;
    left: 1200px;
    top: 100px;
    width: 200px;
    height: auto;
    text-align: left;
    outline: 1px white solid;
}

.add_comment {
    position: relative;
    display: block;
}

.show_comment {
    display: block;
    position: relative;
    /*outline: 1px white solid;*/
}

.show_comment p {
    display: block;
    color: white;
}

.comment_login {
    position: relative;
    display: block;
    width: auto;
    height: auto;
}

.comment_message {
    width: auto;
    height: auto;
    border-bottom: 1px blue solid;
    margin-left: 20px;
}

.like {
    position: absolute;
    top: 620px;
    left: 950px;
    color: white;
    font-size: 25px;
    margin: 0;
    padding: 0;
}

.like img {
    width: 35px;
    height: 35px;
}

.profile_settings {
    position: absolute;
    top: 230px;
    left: 50px;
    width: 350px;
    height: auto;
}

.profile_settings a {
    text-decoration: none;
    color: white;
}

.select_section {
    font-size: 40px;
    color: white;
}

.select_section li {
    margin-bottom: 20px;
    cursor: pointer;
    display: block;
}

.select_section li:hover {
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}

.block_pass {
    position: absolute;
    top: 230px;
    left: 550px;
    width: 700px;
    height: 500px;
    text-align: center;
}

.block {
    position: absolute;
    top: 230px;
    left: 450px;
    width: 700px;
    height: 500px;
    outline: 2px white solid;
}

.set_avatar {
    position: absolute;
    top: 230px;
    left: 1200px;
    width: 400px;
    height: 200px;
    outline: 2px white solid;
}

.change_password {
    position: absolute;
    top: 20px;
    left: 20px;
    width: auto;
    height: auto;
}

.delete_img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
}

.default {
    position: absolute;
    top: 75px;
    left: 5px;
    font-size: 25px;
}

.default a {
    text-decoration: none;
    color: white;
}

.image {
    width: 120px;
    height: 100px;
    margin: 5px;
}

.item {
    position: relative;
    left: 10px;
    top: 5px;
}

.can {
    position: absolute;
    width: 320px;
    height: 240px;
    left: 350px;
    top: 5px;
}

.camera {
    position: absolute;
    top: 350px;
    left: 10px;
    width: 1200px;
    height: auto;
    display: inline-block;
}

.img_png {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 130px;
    left: 130px;
    display: none;
    margin: 0;
    padding: 0;
}

.filter {
    outline: 1px white solid;
    position: absolute;
    top: 230px;
    left: 20px;
}

.click {
    position: relative;
    width: auto;
    height: auto;
    display: inline-block;
}

.click img {
    width: 100px;
    height: 100px;
}

.img_back {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    width: 320px;
    height: 240px;
    margin: 0;
    padding: 0;
}

.block_user {
    position: absolute;
    top: 230px;
    left: 400px;
    width: auto;
    height: auto;
    /*outline: 1px white solid;*/
}

.block_user a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.user_form {
    position: absolute;
    /*top: 230px;*/
    left: 300px;
    text-align: center;
}

.user_list {
    position: absolute;
    top: 40px;
    left: 20px;
}

.user_list li {
    width: 200px;
}

.user_list li:hover {
     margin-left: 10px;
     background-color: rgba(0, 0, 0, 0.2);
 }

.changes {
    position: absolute;
    top: 210px;
    color: greenyellow;
    left: 700px;
    font-size: 15px;
}

.comment_adm {
    position: absolute;
    left: 1200px;
    top: 100px;
    width: 200px;
    height: auto;
    text-align: left;
    color: white;
}

.delete_img_adm {
    position: absolute;
    top: 0;
    right: 0;
    color: red;
    text-decoration: none;
}

.delete_adm {
    position: absolute;
    top: 600px;
    left: 300px;
    color: white;
}

.delete_adm a {
    text-decoration: none;
    color: red;
    font-size: 25px;
}

.mask {
    position: absolute;
    top: 230px;
    left: 400px;
    width: auto;
    height: auto;
}

.button_div {
    overflow: hidden;
    position: relative;
    height: 20px;
    width: 85px;
    cursor: pointer;
}

.button_div [type=file] {
    /*cursor: inherit;*/
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    height: 25px;
    width: 85px;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    cursor: pointer;
}

.button_div {
    background: green;
    color: white;
    border-radius: 10px;
    float: left;
    padding: .5em;
    cursor: pointer;
}

.button_div [type=file] {
    cursor: pointer;
}

.delete_img_adm {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    /*outline: 1px red solid;*/
}

.filter_adm {
    outline: 1px white solid;
    position: relative;
    top: 5px;
    left: 5px;
}